# PostgreSQL Database Connection
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/solar_academy?schema=public"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-32-character-random-secret-key"

# Resend Email Configuration
RESEND_API_KEY="your-resend-api-key"
EMAIL_FROM="Subway Schools <onboarding@resend.dev>"
